name: Update Blog Posts

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Update README with latest blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://nisal.hashnode.dev/rss.xml"
          max_post_count: 5
          committer_username: "blog-post-bot"
          committer_email: "blog-post-bot@example.com"
          commit_message: "Updated with latest blog posts"
          disable_sort: true
